body {
    background: black;
}

.main {
    background: lightblue;
}

.header{
    background: lightblue;
    text-align: left;
    padding: 8px;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

.left-side{
    background: white;
    flex: 30%;
    padding: 20px;
    max-width: 900px;
}

h2.under-line{
    border-bottom: 5px solid grey;
    border-radius: 5px;
}

.right-side{
    background:lightgrey;
    flex: 70%;
    padding: 20px;
    max-width: 600px;
}
