body {
    background: black;
}

.main {
    background: steelblue;
    font-family: 'Work Sans', sans-serif;
}

.header{
    background: steelblue;
    text-align: left;
    padding: 20px;
    color: white;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}

.left-side{
    background: white;
    flex: 30%;
    padding: 20px;
    max-width: 900px;
    color: steelblue
}

h2{
    border-bottom: 5px solid steelblue;
    border-radius: 5px;
}

.right-side{
    background:lightgrey;
    flex: 70%;
    padding: 20px;
    max-width: 600px;
    color: steelblue
}

